<!DOCTYPE html>
<html>
<head>
	<title>Orders</title>

	<style>
		* {
			padding: 0;
			margin: 0;
		}
		table, th, td {
			border: 1px solid black;
		}
		h1 {
			text-align: center;
			padding-bottom: 10px;
		}
	</style>
</head>
<body>
	{% extends 'del3/base.html' %}
	{% block content %}
	{% if request.user.is_staff %}
	<div class="container">
	<h1>Order List</h1>
	<table class="table table-responsive table-striped">
		<tr>
			{% for attrib in order_attribs|slice:":3" %}
			<th>{{attrib.name}}</th>
			{% endfor %}
			<th>recipient</th>
			{% for attrib in order_attribs|slice:"3:7" %}
			<th>{{attrib.name}}</th>
			{% endfor %}
			<th>summary</th>
		</tr>
		{% for order in order_list %}
		{% if order.issue_date != None %}
		<tr>
			<td>{{order.order_id}}</td>
			<td>{{order.agent_id}}</td>
			<td >{{order.customer_id.pk}}</td>
			
			{% for delivery in delivery_list %}
			{% if order.pk == delivery.pk %}
			<td>{{delivery.recipient_id}}</td>
			{% endif %}
			{% endfor %}
			
			<td>{{order.issue_date}}</td>
			<td>{{order.issue_time}}</td>
			<td>{{order.delivery_date}}</td>
			<td>{{order.delivery_time}}</td>

			{% for delivery in delivery_list %}
			{% if order.pk == delivery.pk %}
			<td>Agent {{order.agent_id}} {{order.agent_id.first_name}} in charge of Order {{order.order_id}} sent to Recipient {{delivery.recipient_id}} {{delivery.recipient_id.first_name}}</td>
			{% endif %}
			{% endfor %}
				
		</tr>
		{% endif %}
		{% endfor %}
	</table>
	<h1>Order Contents</h1>
	<table class="table table-responsive table-striped">
		<tr>
			<th>order id</th>
			<th>product id</th>
			<th>name</th>
			<th>color</th>
			<th>personalization</th>
			<th>quantity ordered</th>
			<th>discount</th>
		</tr>
		{% for content in content_list %}
		{% if content.order_id.cart_ready == True and content.order_id.issue_date %}
		<tr>
			<td>{{content.order_id}}</td>
			<td>{{content.product_id}}</td>
			<td>{{content.product_id.name}}</td>
			<td>{{content.product_id.color}}</td>
			<td>{{content.personalization}}</td>
			<td>{{content.quantity_ordered}}</td>
			<td>{{content.discount}}</td>
		</tr>
		{% endif %}
		{% endfor %}
	</table>
	<h1>Cart Contents</h1>
	<table class="table table-responsive table-striped">
		<tr>
			{% for content_attrib in content_attribs|slice:":3" %}
			<th>{{content_attrib.name}}</th>
			{% endfor %}
			{% for content_attrib in content_attribs|slice:"3:" %}
			<th>{{content_attrib.name}}</th>
			{% endfor %}
		</tr>
		{% for content in content_list %}
		{% if content.order_id.cart_ready == True and not content.order_id.issue_date %}
		<tr>
			<td>{{content.content_id}}</td>
			<td>{{content.order_id}}</td>
			<td>{{content.product_id}}</td>
			<td>{{content.personalization}}</td>
			<td>{{content.quantity_ordered}}</td>
			<td>{{content.discount}}</td>
		</tr>
		{% endif %}
		{% endfor %}
	</div>
	{% elif request.user.is_authenticated %}
	<div class="container">
		<h1>Your Orders</h1>
		<table class="table table-responsive table-striped">
		<tr>
			<th>order id</th>
			<th>product id</th>
			<th>name</th>
			<th>color</th>
			<th>personalization</th>
			<th>quantity ordered</th>
			<th>discount</th>
		</tr>
		{% for content in content_list %}
		{% if content.order_id.cart_ready == True and content.order_id.issue_date %}
		<tr>
			<td>{{content.order_id}}</td>
			<td>{{content.product_id}}</td>
			<td>{{content.product_id.name}}</td>
			<td>{{content.product_id.color}}</td>
			<td>{{content.personalization}}</td>
			<td>{{content.quantity_ordered}}</td>
			<td>{{content.discount}}</td>
		</tr>
		{% endif %}
		{% endfor %}
	</table>
	</div>
	{% endif %}
	{% endblock %}
</body>
</html>