<!DOCTYPE html>
<html>
<head>
	<title>Orders</title>

	<style>
		table, th, td {
			border: 1px solid black;
		}
	</style>
</head>
<body>
	{% extends 'del3/base.html' %}
	{% load verbose_names %}
	{% block content %}
	{% if request.user.is_staff %}
	<div class="container">
	<h1 class="garamond text-center">Order List</h1>
	<table class="table table-responsive table-striped">
		<tr>
			{% for attrib in order_attribs|slice:":3" %}
			<th>{% get_verbose_field attrib.name %}</th>
			{% endfor %}
			<th>Recipient</th>
			<th>Recipient Name</th>
			{% for attrib in order_attribs|slice:"3:7" %}
			<th>{% get_verbose_field attrib.name %}</th>
			{% endfor %}
			<th>Summary</th>
		</tr>
		{% for order in order_list %}
		{% if order.issue_date != None %}
		<tr>
			<td>{{order.order_id}}</td>
			<td>{{order.agent_id.pk}}</td>
			<td >{{order.customer_id.pk}}</td>
			
			{% for delivery in delivery_list %}
			{% if order.pk == delivery.pk %}
			<td>{{delivery.recipient_id}}</td>
			<td>{{delivery.recipient_id.first_name}} {{delivery.recipient_id.last_name}}</td>
			{% endif %}
			{% endfor %}
			
			<td>{{order.issue_date}}</td>
			<td>{{order.issue_time}}</td>
			<td>{{order.delivery_date}}</td>
			<td>{{order.delivery_time}}</td>

			{% for delivery in delivery_list %}
			{% if order.pk == delivery.pk %}
			<td>Agent {{order.agent_id}} {{order.agent_id.first_name}} has approved Order {{order.order_id}} sent to Recipient {{delivery.recipient_id}} {{delivery.recipient_id.first_name}}</td>
			{% endif %}
			{% endfor %}
				
		</tr>
		{% endif %}
		{% endfor %}
	</table>

	<h1 class="garamond text-center">Order Contents</h1>
	<table class="table table-responsive table-striped">
		<tr>
			{% for content_attrib in content_attribs|slice:"1:3" %}
			<th>{% get_verbose_field content_attrib.name %}</th>
			{% endfor %}
			<th>Product Name</th>
			<th>Color</th>
			{% for content_attrib in content_attribs|slice:"3:" %}
			<th>{% get_verbose_field content_attrib.name %}</th>
			{% endfor %}
		</tr>
		{% for content in content_list %}
		{% if content.order_id.cart_ready == True and content.order_id.issue_date %}
		<tr>
			<td>{{content.order_id}}</td>
			<td>{{content.product_id}}</td>
			<td>{{content.product_id.name}}</td>
			<td>{{content.product_id.color}}</td>
			<td>{{content.personalization}}</td>
			<td>{{content.quantity_ordered}}</td>
			<td>{{content.discount}}</td>
		</tr>
		{% endif %}
		{% endfor %}
	</table>

	<h1 class="garamond text-center">Pending Order List</h1>
	<table class="table table-responsive table-striped">
		<tr>
			{% for attrib in order_attribs|slice:":3" %}
			<th>{{attrib.name}}</th>
			{% endfor %}
			<th>recipient</th>
			{% for attrib in order_attribs|slice:"7:7" %}
			<th>{{attrib.name}}</th>
			{% endfor %}
			<th>summary</th>
		</tr>
		{% for order in order_list %}
		{% if order.issue_date == None and order.cart_ready %}
		<tr>
			<td>{{order.order_id}}</td>
			<td>{{order.agent_id}}</td>
			<td >{{order.customer_id.pk}}</td>
			
			{% for delivery in delivery_list %}
			{% if order.pk == delivery.pk %}
			<td>{{delivery.recipient_id}}</td>
			{% endif %}
			{% endfor %}

			{% for delivery in delivery_list %}
			{% if order.pk == delivery.pk %}
			<td>Agent {{order.agent_id}} {{order.agent_id.first_name}} has not accepted Order {{order.order_id}} to be sent to Recipient {{delivery.recipient_id}} {{delivery.recipient_id.first_name}}</td>
			{% endif %}
			{% endfor %}
				
		</tr>
		{% endif %}
		{% endfor %}
	</table>

	<h1 class="garamond text-center">Pending Contents</h1>
	<table class="table table-responsive table-striped">
		<tr>
			{% for content_attrib in content_attribs|slice:"1:3" %}
			<th>{% get_verbose_field content_attrib.name %}</th>
			{% endfor %}
			<th>Product Name</th>
			<th>Color</th>
			{% for content_attrib in content_attribs|slice:"3:" %}
			<th>{% get_verbose_field content_attrib.name %}</th>
			{% endfor %}
		</tr>
		{% for content in content_list %}
		{% if content.order_id.cart_ready == True and not content.order_id.issue_date %}
		<tr>
			<td>{{content.order_id}}</td>
			<td>{{content.product_id}}</td>
			<td>{{content.product_id.name}}</td>
			<td>{{content.product_id.color}}</td>
			<td>{{content.personalization}}</td>
			<td>{{content.quantity_ordered}}</td>
			<td>{{content.discount}}</td>
		</tr>
		{% endif %}
		{% endfor %}
	</div>
	{% elif request.user.is_authenticated %}
	<div class="container">
		<h1 class="garamond text-center">Your Delivered Orders</h1>
		<table class="table table-responsive table-striped">
		<tr>
			{% for attrib in content_attribs|slice:"1:3" %}
			<th>{% get_verbose_field attrib.name %}</th>
			{% endfor %}
			<th>Product Name</th>
			<th>Color</th>
			{% for attrib in content_attribs|slice:"3:" %}
			<th>{% get_verbose_field attrib.name %}</th>
			{% endfor %}
		</tr>
		{% for content in content_list %}
		{% if content.order_id.cart_ready == True and content.order_id.issue_date %}
		<tr>
			<td>{{content.order_id}}</td>
			<td>{{content.product_id}}</td>
			<td>{{content.product_id.name}}</td>
			<td>{{content.product_id.color}}</td>
			<td>{{content.personalization}}</td>
			<td>{{content.quantity_ordered}}</td>
			<td>{{content.discount}}</td>
		</tr>
		{% endif %}
		{% endfor %}
	</table>

	<h1 class="garamond text-center">Your Pending Orders</h1>
		<table class="table table-responsive table-striped">
		<tr>
			{% for attrib in content_attribs|slice:"1:3" %}
			<th>{% get_verbose_field attrib.name %}</th>
			{% endfor %}
			<th>Product Name</th>
			<th>Color</th>
			{% for attrib in content_attribs|slice:"3:" %}
			<th>{% get_verbose_field attrib.name %}</th>
			{% endfor %}
			{% if is_agent %}
			<th>Approve Order</th>
			{% endif %}
		</tr>
		{% for content in content_list %}
		{% if content.order_id.cart_ready == True and not content.order_id.issue_date %}
		<tr>
			<td>{{content.order_id}}</td>
			<td>{{content.product_id}}</td>
			<td>{{content.product_id.name}}</td>
			<td>{{content.product_id.color}}</td>
			<td>{{content.personalization}}</td>
			<td>{{content.quantity_ordered}}</td>
			<td>{{content.discount}}</td>
			{% if is_agent %}
			<td class="text-center"><a class="text-center" href="{% url 'orders:approve_order' order_id=content.order_id.pk %}">X</a></td>
			{% endif %}
		</tr>
		{% endif %}
		{% endfor %}
	</table>
	</div>
	{% endif %}
	{% endblock %}
</body>
</html>