<!DOCTYPE html>
<html>
<head>
	<title>Agents</title>
	<style>
		table, th, td {
			border: 1px solid black;
		}
	</style>
</head>
<body>
	{% extends 'del3/base.html' %}
	{% load verbose_names %}
	{% load static %}
	{% block content %}
	{% if not user.is_staff %}
	<h1 class="mp3">AGENT LIST</h1>
	<div class="container mtop60">

	
		<div class="row mp10">
		{% for agent in agent_list %}
			<div class="col-md-2 mp11">
				<img width="100px" height="100px" class="agentimage" src="{% static 'css/person-icon.png' %}" alt="Agent Image"></img>
			</div>
			<p></p>
			<div class="col-md-10">
				<p class="mp1">{{agent.agent_id.first_name}} {{agent.agent_id.last_name}}</p>
				<p class="mp2">Agent ID: {{agent.agent_id.id}}</p>
				<p class="mp2">Total Transactions: {{agent.total_transactions}}</p>
			</div>
			<hr>
		</div>
		<div class="row mtop50">
		{% endfor %}
		</div>
	</div>

	{% elif user.is_staff %}
	<h1 class="text-center garamond">Agent List</h1>
	<div class="container">
	<table class="table table-responsive table-striped">
		<tr>
			{% for attrib in attribs|slice:":1"%}
			<th>{% get_verbose_field attrib.name %}</th>
			{% endfor %}
			<th>First Name</th>
			<th>Last Name</th>
			{% for attrib in attribs|slice:"1:"%}
			<th>{% get_verbose_field attrib.name %}</th>
			{% endfor %}
		</tr>
		{% for agent in agent_list %}
		<tr>
			<td>{{agent.agent_id.id}}</td>
			<td>{{agent.agent_id.first_name}}</td>
			<td>{{agent.agent_id.last_name}}</td>
			<td>{{agent.total_transactions}}</td>
		</tr>
		{% endfor %}
	</table>
	<h1 class="mp0 text-center garamond">Code List</h1>
	<p class="mp0"><a href="{% url 'agents:generate' %}">Generate Code</a></p>
	<table class="table table-responsive table-striped">
	<tr>
		<th>Invite ID</th>
		<th>Code</th>
		<th>Used</th>
	</tr>
	{% for code in codes %}
	<tr>
		<td>{{code.invite_id}}</td>
		<td>{{code.invite_code}}</td>
		<td>{{code.used}}</td>
	</tr>
	{% endfor %}
	</table>
	{% endif %}
	
	{% if code %}
	<p>Generated code is: {{code}}. Please enter this code into the agent code field on the agent sign up page.</p>
	{% endif %}

	</div>
	{% endblock %}
</body>
</html>