<!DOCTYPE html>
<html>
<head>
	<title>Customers</title>
	<style>
		table, th, td {
			border: 1px solid black;
		}
	</style>
</head>
<body>
	{% extends 'del3/base.html' %}
	{% block content %}
	{% load verbose_names %}
	<div class="container">
	<h1 class="garamond text-center">Customer List</h1>
	<table class="table table-striped table-responsive">
		<tr>
			{% for attrib in attribs|slice:":2"%}
			<th>{% get_verbose_field attrib.name %}</th>
			{% endfor %}
			<th>Agent ID</th>
			<th>First Name</th>
			<th>Last Name</th>
			{% for attrib in attribs|slice:"2:"%}
			<th>{% get_verbose_field attrib.name %}</th>
			{% endfor %}
		</tr>
		
		{% for customer in customer_list %}
		<tr>
			<td>{{customer.customer_id.pk}}</td>
			<td>{{customer.agent_id}}</td>
			<td>{{customer.agent_id.pk}}</td>
			<td>{{customer.customer_id.first_name}}</td>
			<td>{{customer.customer_id.last_name}}</td>
			<td>{{customer.street}}</td>
			<td>{{customer.city}}</td>
			<td>{{customer.country}}</td>
		</tr>
		{% endfor %}
	</table>
	</div>
	{% endblock %}
</body>
</html>