{% load static %}
<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.css' %}"></link>
	<link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap-theme.css' %}"></link>
	<link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}"></link>
	<link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}"></link>
	<link rel="stylesheet" href="{% static 'css/del3/base.css' %}"></link>
	<link rel="stylesheet" href="{% static 'css/catalog/index.css' %}"></link>

</head>
<body>
	<nav class="navbar-default mp0">
	  <div class="container-fluid navigationbar">
	  	<div class="navbar-header">
	  		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		<a class="navbar-brand tinypixie" href="/">Pixie Dust Enterprises</a>
		</div>

	<ul class="nav navbar-nav tinypixie2">
		<li><a class="tinypixie4" href="/catalog">Catalog</a></li>
		<li><a class="tinypixie4" href="/agents">Agents</a></li>
		{% if user.is_staff %}
		<li><a class="tinypixie4" href="/customers">Customers</a></li>
		{% endif %}
		{% if user.is_authenticated %}
			<li><a class="tinypixie4" href="/orders">Orders</a></li>
		{% endif %}
		{% if user.is_staff %}
			<li><a class="tinypixie4" href="{% url 'set_passwords' %}">Set passwords</a></li>
		{% endif %}
	</ul>
	{% if user.is_authenticated %}
	{% if not user.is_staff %}
	<p class="navbar-text pull-right"><a href="/cart">Cart</a></p>
	{% endif %}
	<p class="navbar-text pull-right"><a href="/logout">Logout</a></p>
	<p class="navbar-text pull-right tinypixie3">Logged in - {{request.user.username}}</p>
	{% else %}
	<p class="navbar-text pull-right"><a href="/signup">Sign up</a></p>
	<p class="navbar-text pull-right"><a href="/login">Login</a></p>
	{% endif %}
		</div>
	</nav>
	{% block content %}
	{% endblock %}
</body>
</html>