<!DOCTYPE html>
<html>
<head>
	<title>Orders</title>

	<style>
		* {
			padding: 0;
			margin: 0;
		}
		table, th, td {
			border: 1px solid black;
		}
		h1 {
			text-align: center;
			padding-bottom: 10px;
		}
	</style>
</head>
<body>
	{% extends 'del3/base.html' %}
	{% block content %}
	{% load verbose_names %}
	<div class="container">
	<h1 class="text-center garamond">Your cart</h1>
	<table class="table table-responsive table-striped" id="cart">
		<tr>
			{% for attrib in content_attribs|slice:"1:3" %}
			<th>{% get_verbose_field attrib.name %}</th>
			{% endfor %}
			<th>Product Name</th>
			{% for attrib in content_attribs|slice:"3:" %}
			<th>{% get_verbose_field attrib.name %}</th>
			{% endfor %}
			<th>Total</th>
			<th>Cancel</th>
		</tr>

		{% for content in content_list %}
		<tr>
			<td>{{content.order_id}}</td>
			<td>{{content.product_id}}</td>
			<td>{{content.product_id.name}}</td>
			<td>{{content.personalization}}</td>
			<td>{{content.quantity_ordered}}</td>
			<td>{{content.discount}}</td>
			<td class="total">{% get_total content.quantity_ordered content.product_id.price content.discount  %} </td>
			<td class="text-center"><a href="{% url 'delete_cart_entry' content_id=content.pk %}">X</a></td>
		</tr>
		{% endfor %}
	</table>
	<strong><p class="pull-right" id="output">Total: Php </p></strong>
	<script>
		var total = 0;
		var totals = document.querySelectorAll(".total");
		for (var i = 0; i < totals.length; i++) {
			total += Number(totals[i].innerText);
		}
		document.getElementById("output").innerHTML += total;
	</script>

	<form class="navbar-form navbar-left" method="post">
	    <h4>Enter recipient</h4>
	    <p>Not a gift? Click <a href="/checkout">here</a> to deliver to your address</p>
	    {% csrf_token %}
	    {% for field in form %}
	      <p>
	        {{ field.label_tag }}<br>
	        {{ field }}
	        {% if field.help_text %}
	          <small style="color: grey">{{ field.help_text }}</small>
	        {% endif %}
	        {% for error in field.errors %}
	          <p style="color: red">{{ error }}</p>
	        {% endfor %}
	      </p>
	    {% endfor %}
	    {% if warning %}
	    <p>{{warning}}</p>
	    {% endif %}
	    <button type="submit" class="btn-primary">Checkout</button>	
  	</form>
	{% if message %}
	<p>{{message}}</p>
	{% endif %}
	{% endblock %}
</body>
</html>