{% extends 'del3/base.html' %}
{% block content %}
  <form class="navbar-form navbar-left" method="post" autocomplete="off" role="presentation">
    <h2>Sign up</h2>
    <p>Have an agent code? <a href="/signupagent">Click here to sign up</a></p>
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
{% endblock %}